.background {
  /* background-image: url("../../../../assets/images/contact/worldmap.svg"); */
  background-image: url("../../../../assets/images/contact/map2.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
